<div class="contents row" >
  <div class="user-show"><%= @name %>さんの投稿一覧</div>
  <%= render @posts %>
  <nav class="pagination">
    <div class="paginate">
      <%= paginate(@posts) %>
    </div>
  </nav>
</div>
