.flash-box
  .flash
    - if flash[:notice]
      = flash[:notice]
.contents-row
  .posts
    - @posts.each do |post|
      = render partial: "post", locals: { post: post }
  %nav
    .pagination
      .paginate
        = paginate(@posts)
